<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>投票助手</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div id="body" class="container">
        <!-- 标题 -->
        <div id="titleDiv" class="container border-bottom">
            <h1 class="display-1 text-center">投票助手</h1>
        </div>
        <div class="container">
            <p class="text-danger">{{alertMessage}}</p>
        </div>
        <!-- 进入游戏页面 -->
        <div id="gameSelectDiv" v-show="gameSelecting" class="container">
            <h3 class="text-primary">选择游戏进入</h3>
            <div class="mb-3" id="gameCodeDiv">
                <label class="form-label text-secondary">游戏场次</label>
                <select class="form-select" v-model="selectedGameCode" v-on:change="refreshSelectedGame">
                    <option v-for="game in processingGame" :key="game.code">{{game.code}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label text-secondary">你的号码</label>
                <select class="form-select" v-model="selectedNum">
                    <option v-for="num in selectedGame.playerCount" :key="num">{{num}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label text-secondary">设置密码</label>
                <input type="password" class="form-control" v-model="password">
                <div class="form-text">密码用于确保只有你能看到自己的投票信息</div>
            </div>
            <button type="button" class="btn btn-primary" v-on:click="enterGame">进入游戏</button>
        </div>
        <!-- 游戏界面 -->
        <div id="gameHomeDiv" class="container" v-show="!gameSelecting">
            <div id="gameInfoDiv" class="container">
                <h3 class="text-primary">游戏信息</h3>
                <div class="row">
                    <div class="col">
                        你加入了
                        <span class="badge bg-primary text-wrap">
                            {{ curGameCode }}
                        </span>
                        <button type="button" class="btn btn-link" v-on:click="refreshGameInfo">刷新</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        你是
                        <span class="badge bg-primary text-wrap">{{ curPlayer }} </span>
                        号玩家
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        当前游戏阶段：
                        <span class="badge bg-primary text-wrap">{{ gameInfo.curGameStageText }}</span>
                    </div>
                </div>
            </div>
            <div style="height: 20px;"></div>
            <div id="gameVoteDiv" class="container">
                <h3 class="text-primary">我的投票</h3>
                <div class="container" v-show="!gameInfo.curGameStageAllowVote && !c_voted">
                    <p>现在还不能投票</p>
                </div>
                <div class="container" v-show="gameInfo.curGameStageAllowVote && !c_voted">
                    <div class="row">
                        <div class="col">
                            <select class="form-select" v-model="votedPlayer">
                                <option v-for="i in c_allowVotePlayer">{{i}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning" v-on:click="vote">投票</button>
                            <button type="button" class="btn btn-danger" v-on:click="abstentionVote">弃票</button>
                        </div>
                    </div>
                </div>
                <div class="container" v-show="c_voted">
                    <div class="row">
                        <div class="col" v-show="gameInfo.curPlayerVote > 0">
                            我投给了<span class="badge bg-warning text-wrap">{{ gameInfo.curPlayerVote }} </span>号
                        </div>
                        <div class="col" v-show="gameInfo.curPlayerVote === -1">
                            我弃票了
                        </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
                <h3 class="text-primary">本阶段投票结果</h3>
                <div class="container" v-show="c_voteFinish">
                    <div class="row" v-for="(r_list, r_voted) in gameInfo.curGameStageVoteResult">
                        <div class="col">
                            {{r_list}}
                        </div>
                        <div class="col">
                            投给了
                        </div>
                        <div class="col">
                            {{r_voted}}
                        </div>
                    </div>
                </div>
                <div class="container" v-show="!c_voteFinish">
                    <p>还没有投票结果</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
var basePath = 'http://172.16.156.164:11051';
var app = new Vue({
    el: '#body',
    data: {
        alertMessage: '', // 全局警告信息
        // ====================================
        gameSelecting: true, // 是否在选择游戏
        // 选择游戏页面数据
        processingGame: [], // 进行中的游戏
        selectedGameCode: '', // 选择的游戏场次
        selectedGame: {}, // 选择的游戏场次对应的游戏
        selectedNum: 1, // 选择的号码
        password: '',
        // 选择游戏结果
        curGameCode: '',
        curPlayer: 0,
        // ====================================
        gameInfo: {
            curGameStage: '',
            curGameStageText: '',
            curGameStageAllowVote: false, // 当前阶段是否允许投票
            curGameStageVoteFinished: false, // 当前阶段是否已完成投票
            curGameStageVoteResult: [],
            curStageVoteLimit: {
                allowVotePlayer: [],
                allowVotedPlayer: []
            },
            curPlayerVote: 0 // 我投了谁 
        },
        // ====================================
        votedPlayer: 0
    },
    mounted: function() {
        axios.get(basePath + '/game/player/queryProcessingGame')
            .then(function(response) {
                if (response.data.code == 200) {
                    var responseGameList = response.data.data;
                    for (var i = 0; i < responseGameList.length; i++) {
                        app.processingGame.push(responseGameList[i])
                    }
                    app.selectedGame = app.processingGame[0];
                    app.selectedGameCode = app.selectedGame.code
                } else {
                    app.setAlertMessage('加载游戏列表错误: ' + JSON.stringify(response.data.message));
                }
            })
            .catch(function(error) {
                app.setAlertMessage('加载游戏列表错误: ' + JSON.stringify(error));
            })
            .then(function() {});
    },
    computed: {
        c_voted: function() {
            if (this.gameInfo.curPlayerVote == 0) {
                return false;
            } else {
                return true;
            }
        },
        c_voteFinish: function() {
            return this.gameInfo.curGameStageVoteFinished;
        },
        c_allowVotePlayer: function() {
            var result = [];
            this.gameInfo.curStageVoteLimit.allowVotedPlayer.forEach(function(i) {
                if (i != -1) {
                    result.push(i);
                }
            });
            return result;
        }

    },
    methods: {
        refreshSelectedGame() {
            for (var i = 0; i < this.processingGame.length; i++) {
                if (this.processingGame[i].code == this.selectedGameCode) {
                    this.selectedGame = this.processingGame[i];
                }
            }
        },
        enterGame(event) {
            axios.post(basePath + '/game/player/enterGame', {
                    gameCode: app.selectedGameCode,
                    playerNum: app.selectedNum,
                    password: app.password
                })
                .then(function(response) {
                    if (response.data.code == 200) {
                        app.curGameCode = app.selectedGameCode;
                        app.curPlayer = app.selectedNum;
                        app.gameSelecting = false;
                        app.clearAlertMessage();
                        app.refreshGameInfo();
                    } else {
                        app.setAlertMessage('进入游戏失败: ' + JSON.stringify(response.data.message));
                    }
                })
                .catch(function(error) {
                    app.setAlertMessage('进入游戏失败: ' + JSON.stringify(error));

                })
                .then(function() {});
        },
        vote(event) {
            axios.post(basePath + '/game/player/vote', {
                    gameCode: app.curGameCode,
                    gameStage: app.gameInfo.curGameStage,
                    player: app.curPlayer,
                    votedPlayer: app.votedPlayer
                })
                .then(function(response) {
                    if (response.data.code == 200) {
                        app.clearAlertMessage();
                        app.refreshGameInfo();
                    } else {
                        app.setAlertMessage('投票失败: ' + JSON.stringify(response.data.message));
                    }
                })
                .catch(function(error) {
                    app.setAlertMessage('投票失败: ' + JSON.stringify(error));

                })
                .then(function() {});
        },
        abstentionVote() {
            axios.post(basePath + '/game/player/vote', {
                    gameCode: app.curGameCode,
                    gameStage: app.gameInfo.curGameStage,
                    player: app.curPlayer,
                    votedPlayer: -1
                })
                .then(function(response) {
                    if (response.data.code == 200) {
                        app.clearAlertMessage();
                        app.refreshGameInfo();
                    } else {
                        app.setAlertMessage('投票失败: ' + JSON.stringify(response.data.message));
                    }
                })
                .catch(function(error) {
                    app.setAlertMessage('投票失败: ' + JSON.stringify(error));

                })
                .then(function() {});
        },
        refreshGameInfo(event) {
            axios.post(basePath + '/game/player/loadGameInfo', {
                    gameCode: app.curGameCode,
                    playerNum: app.curPlayer
                })
                .then(function(response) {
                    if (response.data.code == 200) {
                        var gameInfo = response.data.data;
                        app.gameInfo = gameInfo;
                        app.clearAlertMessage();
                    } else {
                        app.setAlertMessage('刷新游戏信息失败: ' + JSON.stringify(response.data.message));
                    }
                })
                .catch(function(error) {
                    app.setAlertMessage('刷新游戏信息失败: ' + JSON.stringify(error));

                })
                .then(function() {});
        },
        setAlertMessage(message) {
            this.alertMessage = message;
        },
        clearAlertMessage() {
            this.alertMessage = '';
        }
    }
})
</script>

</html>